.button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px 30px;
  background: #1d3557;
  color: #f1faee;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.button:hover {
  background: #a8dadc;
  color: #1d3557;
}

.star {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 48px;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.star:hover {
  transform: rotate(-90deg);
}

.article {
  padding: 30px;
  background: #a8dadc;
  border-radius: 5px;
  color: #54819e;
  text-align: center;
  transition: color 0.5s;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.article:hover {
  color: #1d3557;
}

.article-title {
  margin-bottom: 12px;
  font-size: 24px;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.article .article-title:hover {
  color: #1d3557;
  font-size: 29px;
}
